.pageWrapper {
  padding: 20px;
}

#logo img {
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.jumbotron {
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  width: 100%;
  margin: 0;
}

ul {
  list-style-type: none;
}

header {
  margin-bottom: 30px;
  background-color: #bfdba0;
  padding: 10px;
}

.nav-item {
  margin: 5px;
  background-color: #fbf2b3;
  border-radius: 5px;
}

.li-creators {
  color: black;
}

.contacts-text {
  color: black;
  transition: color 0.3s ease;
}

.li-creators:hover {
  color: #f85b52;
}

.mix-it-btn {
  color: black;
  background-color: #f2a19d;
  border: black solid 2.5px;
}

.contacts-section {
  background-color: #bfdba0;
}

footer-p-1,
footer-p-2 {
  font-size: smaller;
}

.ingredients-input-section {
  margin: 20px;
}

.jumbo-text {
  margin: 10px;
}

.input-label-text {
  font-size: larger;
  font-weight: bold;
}

.ul-about-us {
  list-style-type: disc;
}

.ul-about-us li {
  margin-bottom: 10px;
}

.api-icons {
  text-decoration: none;
}
