.pageWrapper {
  padding: 20px;
}

/* HEADER */

header {
  margin-bottom: 30px;
  background-color: #bfdba0;
  padding: 10px;
}

#logo img {
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.jumbotron {
  text-align: center;
  border-radius: 15px;
  width: 100%;
  margin: 0;
}

.jumbo-text {
  margin: 10px;
}

ul {
  list-style-type: none;
}

/* END HEADER  */

/* CONTACTS */

.li-creators {
  color: black;
}

.li-creators:hover {
  color: #f85b52;
}
.contacts-section {
  background-color: #bfdba0;
}

.contacts-text {
  color: black;
  transition: color 0.3s ease;
}

/* HOME - MIX IT */

.mix-it-btn {
  color: black;
  background-color: #f2a19d;
  border: black solid 2.5px;
}

.input-dropdown {
  margin-bottom: 15px;
}

.label-choose {
  margin-bottom: 10px;
}

.ingredients-input-section {
  margin: 20px;
}

.input-label-text {
  font-size: larger;
  font-weight: bold;
}

/* ABOUT PAGE */

.ul-about-us {
  list-style-type: disc;
}

.ul-about-us li {
  margin-bottom: 10px;
}

.api-icons {
  text-decoration: none;
}

/* END ABOUT PAGE */

/* NAV */

.nav-item {
  margin: 5px;
  background-color: #fbf2b3;
  border-radius: 5px;
}

.nav-pills {
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #2a4703;
  font-weight: bold;
}

.nav-link:hover {
  color: #f85b52;
}

.navbar-logo img {
  margin: 10px;
}

#project-section {
  background-image: url("../Images/cocktails_background.png");
}

.dropdown-toggleCustom:hover {
  background-color: #fbf2b3;
}

/* END NAV */

/* ALL FOOD */

.top-btn {
  margin: 15px;
}

.btn-cook {
  background-color: #f85b52;
  color: #fff;
  margin: 10px;
}

.card-title {
  font-size: 1.25rem;
}

.card-body {
  text-align: center;
}

.foodCard-img {
  border-radius: 8px;
}

.card-body h5 {
  color: #2a4703;
}

.modal-header {
  background-color: #f85b52;
}

.ingredientsModal {
  text-align: center;
  margin: 7px;
  font-size: 20px;
}

/* END ALL FOOD */

/* FOOTER */

.footer-p-1.text-sm {
  font-size: 12px;
}

.footer-p-2.text-xs {
  font-size: 12px;
}
